@charset "UTF-8";

.inner {
    width: 1120px;
    position: relative;
}


.fixed {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
}

i {
    font-size: 10px;
}

p {
    font-size: 14px;
}

span {
    font-size: 16px;
}

b.margin {
    font-size: 22px;
    margin-bottom: 18px;
}

.p_b {
    padding-bottom: 33px;
    border-bottom: 1px solid #C7C7C7;
    padding-top: 32px;
}

/* 

h2 {
    font-size: 26px;
}

h3 {
    font-size: 24px;
    margin-bottom: 24px;
    padding-top: 31px;
} */
h4 {
    font-size: 22px;
}

/* h5 {
    font-size: 18px;
    font-weight: bold;
} */

i {
    font-size: 10px;
}

p {
    font-size: 14px;
}

p.gray_c {
    color: #888;
}

span {
    font-size: 16px;
}

.inner_nav {
    margin-top: 120px;
    width: 100%;
    height: 123px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.inner_nav ul {
    width: 860px;
    height: 52px;
    display: flex;
}

.inner_nav ul li {
    width: 20%;
    text-align: center;
    line-height: 51px;
    height: 100%;
    cursor: pointer;
}

.inner_nav ul li.active {
    border-bottom: 4px solid #ED5977;
    color: #ed5977;
}

.inner .msg {
	display: flex;
	margin-top: 150px;
	height: calc(100vh - 150px);
}

.inner .msg-l {
	width: 30%;
	height: 100%;
	padding: 15px;
	border: 1px solid #EBEBEB;
	overflow-y: auto;
}

.inner .msg-l h3 {
	font-size: 15px;
}

.inner .msg-l h5 {
	font-size: 12px;
}

.inner .msg-l .msg_summary {
	width: 100%;
	cursor: pointer;
	display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    margin-bottom: 15px;
	padding: 10px;
}

.inner .msg-l .active {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.inner .msg-l .msg_summary .sender_img img {
	width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.sender_con {
    width: 100%;
    display: grid;
}

.sender_con .con_top {
	display: flex;
    justify-content: space-between;
    height: 10px;
}

.inner .msg-r {
	width: 65%;
	border: 1px solid #EBEBEB;
	display: flex;
    flex-direction: column;
	border-left: none;
    padding: 10px 20px;
}

.messageList {
    flex: 1; /* 가능한 공간을 모두 차지하도록 설정 */
    overflow-y: auto; /* 세로 스크롤 추가 */
    margin-bottom: 10px; /* 아래쪽 여백 추가 */
}

.inputMessageDiv {
    display: flex;
    align-items: center; /* 입력창과 버튼을 수직 중앙 정렬 */
}

.inputMessageDiv input {
/*     flex: 1; 입력창이 가능한 공간을 모두 차지하도록 설정 */
/*     margin-right: 10px; */
/*     height: 44px; */
    
    flex: 1;
	width: 80%;
	height: 44px;
}

.inputMessageDiv button {
/*     background: #ed5977; */
/*     height: 44px; */
/*     border-radius: 5px; */
/*     border: 0; */
/*     color: #FFFFFF; */
    
    
    background: #ed5977;
    width: 18%;
    height: 44px;
    border-radius: 5px;
    border: 0;
    margin-right: 0;
    color: #FFFFFF;
}